div#header {
    position:absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 300px;
    background-image: url(34.jpg);
    background-size: cover;
}
div#navigation {
    position: absolute;
    top: 0;
    height: 60px;
    right: 250px;
    left: 250;
    background: white;
    text-align: center;
}

div#footer {
    clear: both;
    height: 40px;
    text-align: center;
    color: #303030;
    border-top: #C8C8C8 double 1px;

}
ul#top {
    position:absolute;
    top: 300px;
    text-align: center;
    list-style-type: none;
    margin: auto;
    overflow: hidden;
}

ul#lang {
    position:absolute;
    top: 300px;
    text-align: center;
    list-style-type: none;
    margin: auto;
    overflow: hidden;
}

ul#side {
    position:absolute;
    top: 320px;
    right: 10px;
    text-align: center;
    list-style-type: none;
    margin: auto;
    overflow: hidden;
}

li.top {
   float: left;
}

a:link, a:visited {
    display: block;
    width: 135px;
    font-weight: lighter;
    color: #303030;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    border-top: #C8C8C8 solid 1px;
    background-color: #EFEFEF ;
}

div.center {
    position:absolute;
    top: 370px;
    right: 280px;
    left: 280px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 18;
    color: #303030;
}

