div#header {
    position:absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 150px;
    text-align: center;
    color: #303030;
    border-bottom: #C8C8C8 solid 1px;
    background-image: url(3053s.jpg);
    background-size: cover;
}

.Centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.Centered {
    display: inline-block;
    vertical-align: middle;
}

div#footer {
    position:absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 50px;
    text-align: center;
    color: #303030;
    border-top: #C8C8C8 double 1px;

}
ul#top {
    position:absolute;
    top: 150px;
    text-align: center;
    list-style-type: none;
    margin: auto;
    overflow: hidden;
}

ul#lang {
    position:absolute;
    top: 150px;
    text-align: center;
    list-style-type: none;
    margin: auto;
    overflow: hidden;
}

ul#side {
    position:absolute;
    top: 200px;
    right: 10px;
    text-align: center;
    list-style-type: none;
    margin: auto;
    overflow: hidden;
}

li.top {
   float: left;
}

a:link, a:visited {
    display: block;
    width: 170px;
    font-weight: lighter;
    color: #303030;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    border-top: #C8C8C8 solid 1px;
    background-color: #EFEFEF ;
}

div.center {
    position:absolute;
    top: 300px;
    right: 280px;
    left: 280px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 18;
    color: #303030;
}

